
.filmcard{
    display:inline-flex;
    justify-content:space-between;
    margin: 5px;
    padding: 5px;
    
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 20px;

}
.popularcard{
    display:table-cell;
    justify-content:space-between;
    max-width: 400px;
    min-height: 1000px;

    margin: 5px;
    padding: 5px;
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 20px;
    
    
}

.rating{
    display:flex;
    justify-content:space-around;
}
.popularimg{
    max-width: 500px;
    max-height: 700px;
    min-height: 390px;
}
.filmimg{
    min-height: 420px;
    max-width: 300px; ;
}
.filmallimg{
    
    max-width: 300px;
    min-height: 450px;
    min-width: 300px;
    max-height: 450px;
    padding-bottom: 50px;
}
.filmallimg1{
    min-width: 300px;
    max-height: 420px;
    max-width: 300px;
    min-height: 420px;
    
}
.filmallimg2{
    
    max-width: 300px;
    min-height: 375px;
    padding-bottom: 50px;
}
.tiyatroimg{
    
    min-height: 420px;
    max-width: 300px; ;
}
.img{
    min-width: 300px;
    min-height: 420px;
}
.popularallcard{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    max-width: 450px;
    margin: 5px;
    padding: 5px;    
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 15px;
    
}
.popularallimg{
    max-width: 500px;
    max-height: 700px;
    min-height: 390px;
}
.filmallcard{
    display:inline-flex;
    justify-content:center;
    align-items: center;
    max-width: 350px;
    margin: 5px;
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 15px;
    
}

.popularcardcontainer{
   padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.salooncard{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    max-width: 480px;
    margin: 5px;
    padding: 5px;    
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 15px;
}
.saloonimg{
    
    max-width: 300px;
    min-height: 200px;
}
.tiyatroallcard{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    max-width: 450px;
    margin: 5px;
    padding: 5px;    
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 15px;}

.theatrecard{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    max-width: 370px;
    max-height: 800px;
    margin: 5px;
    padding: 5px;    
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 15px;
}
.theatreimg{
    max-width: 200px;
    min-height: 420px;
}
.baleimg{
    min-height: 350px;
    max-width: 300px; ;
}
.popular{
    display: flex;
    justify-content: center;
}

.detailcard{
    max-width: 450px;
    margin-left:auto !important;
    margin-right:auto !important;

    margin: 5px;
    padding: 5px;    
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 1px;
}
.poster{
    display: flex !important;
    justify-content: space-between !important;
    max-height: 1000px !important;
    min-height: 700px;
    min-width: 400px;
    max-width: 500px !important;
    float: left;
}
.canvas{
    margin: 10px;
    margin-left: 50px ;
    
}
.leaflet-container{
    width: 60vh !important;
    height: 40vh !important;
    float: right;
    margin-right: 20px;
}
.posterimg{
    display: flex !important;
    justify-content: space-between !important;
    max-height: 900px !important;
    min-height: 400px;
    max-width: 1000px !important;
    float: left;
}

ul,li{
    margin: 3px;
}
.filterData{
    display: flex;
    justify-content: center;
}
.filterh3{
    margin-left: 10px;
}
.textlength{
    display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
min-height: 80px;
}

.backgroundcolor{
    background-color: rgba(49, 214, 255, 0.164);
   
}
.bg-light1{  
      background-color: rgba(49, 255, 228, 0.623);
    border-radius: 8px;
}
.radius{
    border-radius: 30px !important;
}
.textbackground{
    background-color: rgba(110, 110, 110, 0.301);
    border-radius: 20px;
    padding: 6px;
}
.namemargin{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backgroundcolornav1{
    display: inline-flex;
    padding-left: 15px;
    flex-direction: row;

}

/* Phone*/

@media screen and (max-width: 1040px) {

img{
       
    max-width: 100px !important;
    min-height: 150px !important;
    min-width: 100px !important;
    max-height: 150px !important;
}
.filmcard{
    display:inline-flex;
    justify-content:space-between;
    margin: 5px;
    padding: 5px;
    max-width: 270px;
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 20px;

}
.popularcard{
    display:inline-flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin: 5px;
    padding: 5px;
    max-width: 270px;
    min-height: 270px;
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 20px;
    
    
}


.rating{
    display:flex;
    justify-content:space-around;
}
.popularimg{
    max-width: 500px;
    max-height: 700px;
    min-height: 390px;
}
.filmimg{
    min-height: 420px;
    max-width: 300px; ;
}
.filmallimg{
    
    max-width: 300px;
    min-height: 450px;
    min-width: 300px;
    max-height: 450px;
    padding-bottom: 50px;
}
.filmallimg1{
    min-width: 300px;
    max-height: 420px;
    max-width: 300px;
    min-height: 420px;
    
}
.filmallimg2{
    
    max-width: 300px;
    min-height: 375px;
    padding-bottom: 50px;
}
.tiyatroimg{
    
    min-height: 420px;
    max-width: 300px; ;
}
.img{
    min-width: 300px;
    min-height: 420px;
}
.popularallcard{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    max-width: 450px;
    margin: 5px;
    padding: 5px;    
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 15px;
    
}
.popularallimg{
    max-width: 500px;
    max-height: 700px;
    min-height: 390px;
}
.filmallcard{
    display:contents;
    justify-content:center;
    align-items: center;
    max-width: 270px;
    margin: 5px;
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 15px;
    
}

.popularcardcontainer{
   padding: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.salooncard{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    max-width: 480px;
    margin: 5px;
    padding: 5px;    
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 15px;
}
.saloonimg{
    
    max-width: 300px;
    min-height: 200px;
}
.tiyatroallcard{
    display:contents;
    justify-content:center;
    align-items: center;
    max-width: 270px;
    margin: 5px;
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 15px;}

.theatrecard{
    display:inline-flex;
    justify-content:space-between;
    margin: 5px;
    padding: 5px;
    max-width: 270px;
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 20px;
}
.theatreimg{
    max-width: 200px;
    min-height: 420px;
}
.baleimg{
    min-height: 350px;
    max-width: 300px; ;
}
.popular{
    display: flex;
    justify-content: center;
}

.detailcard{
    max-width: 450px;
    margin-left:auto !important;
    margin-right:auto !important;

    margin: 5px;
    padding: 5px;    
    border: solid;
    border-style: double;
    border-color: black ;
    border-radius: 1px;
}
.poster{
    display: flex !important;
    justify-content: space-between !important;
    max-height: 500px !important;
    min-height: 500px;
    min-width: 200px;
    max-width: 200px !important;
    float: left;
}
.canvas{
    margin: 10px;
    margin-left: 50px ;
    
}
.leaflet-container{
    width: 60vh !important;
    height: 40vh !important;
    float: right;
    margin-left: 20px;
}
.posterimg{
    display: flex !important;
    justify-content: space-between !important;
    max-height: 900px !important;
    min-height: 400px;
    max-width: 1000px !important;
    float: left;
}

ul,li{
    margin: 3px;
}
.filterData{
    display: flex;
    justify-content: center;
}
.filterh3{
    margin-left: 10px;
}
.textlength{
    display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
min-height: 80px;
}

.backgroundcolor{
    background-color: rgba(49, 214, 255, 0.164);
    
   
}
.bg-light1{  
      background-color: rgba(49, 255, 228, 0.623);
    border-radius: 8px;
}
.radius{
    border-radius: 30px !important;
   
}
.textbackground{
    background-color: rgba(110, 110, 110, 0.301);
    border-radius: 20px;
    padding: 6px;
}
.namemargin{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchInput{
    max-width: 130px;
}
.detailContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.detailAbstract{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
}
.MapContainer{
    max-width: 350px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.backgroundcolornav1{
    display: inline-flex;
  
    flex-direction: column;

}
}